name: Build and Deploy

on:
  push:
    branches:
      - main
      - deployment

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker buildx build --platform linux/amd64,linux/arm64 -t ardabzlk/p2p-vue:latest .

      - name: Push Docker image
        run: docker push ardabzlk/p2p-vue:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Copy files to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_KEY }}
          source: "docker-compose.yml"
          target: "/home/arda_bozlak/P2P-IoT-Client/docker-compose.yml"

      - name: SSH into server and start Docker Compose
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_KEY }}
          script: |
            cd /home/arda_bozlak/P2P-IoT-Client
            docker-compose pull
            docker-compose up -d
