name: SSH Deploy

on:
  push:
    branches:
      - deployment  # Adjust this to match your main branch name

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install SSH key
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSHKEY }}
          ssh-known-hosts: ${{ secrets.KNOWN_HOSTS }}

      - name: SSH to remote machine and run commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          port: ${{ secrets.PORT }}
          passphrase: ${{ secrets.PASSPHRASE }}
          script: |
            cd ${{ secrets.TARGET }}
            sudo npm run install
            sudo npm run build
